<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up to recieve alerts!</h1>
    </div>
    <form class="form" name="form" ng-submit="register(form)" novalidate>
      <div class="col-sm-6">
          <h3>1. Fill out this form!</h3>
          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                              'has-error': form.name.$invalid && submitted }">
            <label>Your Name</label>

            <input type="text" name="name" class="form-control" ng-model="user.name"
                   required/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              A name  is required
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                              'has-error': form.email.$invalid && submitted }">
            <label>Email</label>

            <input type="email" name="email" class="form-control" ng-model="user.email"
                   required
                   mongoose-error/>
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.zip.$valid && submitted,
                                              'has-error': form.zip.$invalid && submitted }">
            <label>zip code</label>

            <input type="text" name="zip" class="form-control" ng-model="user.zip"
                   required maxlength="5"  valid-zip-directive />
            <p class="help-block" ng-show="form.zip.$error.required && submitted">
              A zip code is required
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                              'has-error': form.password.$invalid && submitted }">
            <label>Password</label>

            <input type="password" name="password" class="form-control" ng-model="user.password"
                   ng-minlength="3"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>

          <div>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
              Sign up
            </button>
            <a class="btn btn-default btn-lg btn-register" href="/login">
              Login
            </a>
          </div>
          <hr>
          <a class="btn btn-default btn-lg test-weather" href="#" selected-weather-directive ng-model="user.weather">
            weather
          </a>
         <!--  <div>
            <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
              <i class="fa fa-facebook"></i> Connect with Facebook
            </a>
            <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
              <i class="fa fa-twitter"></i> Connect with Twitter
            </a>
          </div> -->
      </div>
      <div class="col-sm-6">
          <h3>2. Select your Weather</h3>
          <div class="checkbox" selected-weather-directive ng-model="conditions">
            <label ng-repeat="option in conditions"><input type="checkbox" value="{{option.checked}}" ng-model="option.checked" ng-change="true">{{option.weather}}</label>
          </div>
          {{conditions}}
      </div>
    </form>
  </div>
  <hr>
</div>
